# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.out
*.bak

# Ignore environment files
.env
.venv/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large data files
*.csv
*.h5
*.pkl
